:root {
    --accentLighter: #C29678;
    --accentLighterOp50: rgba(194, 150, 120, 0.7); 
    --accent: #42362D;
    --softBlue: #7BA6C2;
    --softBlueOp50: rgba(123, 166, 194, 0.5);
    --darkBlue: #2D3A42;
    --white: #FFFFFF;
    --offWhite: #F5EFE7;
    --accentOp50: rgba(194, 150, 120, 0.5);
    --accentLightest: #F5EFE7;
}
div#root, body, html {
    overflow-x: hidden;
}
@font-face {
    font-family: "quicksand";
    src: url(./assets/fonts/Quicksand-Light.ttf) format('truetype');
    src: url(./assets/fonts/Quicksand-Medium.ttf) format('truetype');
    src: url(./assets/fonts/Quicksand-Bold.ttf) format('truetype');
    src: url(./assets/fonts/Quicksand-Regular.ttf) format('truetype');
    src: url(./assets/fonts/Quicksand-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "tan-mon-cheri";
    src: url(./assets/fonts/tan-mon-cheri.ttf) format('truetype');
}
@font-face {
    font-family: "calistoga";
    src: url(./assets/fonts/Calistoga-Regular.ttf) format('truetype');
}
h1 {
    font-family: "tan-mon-cheri";
    font-size: 6rem;
}
h2 {
    font-family: "calistoga";
    font-size: 3rem;
    color: var(--darkBlue);
}
h3 {
    font-family: "tan-mon-cheri";
}
p {
    font-family: "quicksand";
    font-size: 1rem;
    line-height: 1.5rem;
}
a {
    font-family: "quicksand";
    text-decoration: none;
    color: var(--accent);
}
input, button, a {
    font-family: "quicksand";
}

body {
    margin: 0;
    padding: 0;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-right {
    display: flex;
    justify-content: end;
    align-self: start;
} 
.flex-j-left {
    display: flex;
    justify-content: center;
    align-self: center;
} 
.flex-a-center-j-start {
    display: flex;
    align-items: center;
    justify-content: start;
}
.flex-a-center {
    display: flex;
    align-items: center;
}
.flex-j-center {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t-a-left {
    text-align: left;
}
/*Reuseable elements*/
/*NAV-------------------------------------------------------*/
nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    border-bottom: 3px solid var(--accent);
    .banner {
        width: 100%;
        margin-top: -10rem;
    }
    .navbar {
        margin-top: 0.5rem;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 5px solid var(--accentLighter);
        background-color: var(--offWhite);
        border-radius: 100px;
        img{
            width: 64px;
        }
        .nav-slider {
            position: absolute;
            left: 0.2rem;
            height: 5rem;
            width: 7rem;
            background-color: var(--accentLighter);
            border-radius: 200px;
            z-index: 0;
        }
        .nav-anchor {
            border: none;
            text-align: center;
            margin: 1rem 1.5rem 1rem 1.5rem;
            display: inline;
            text-decoration: none;
            color: var(--accent);
            z-index: 1;
            transition: 0.2s;
        }
        .nav-link:hover {
            color: var(--accentLighter);
        }
    }
    .banner-logo {
        position: absolute;
        flex-direction: column;
        bottom: 16rem;
        left: 10rem;
        color: var(--offWhite);
        max-height: 25rem;
        max-width: 25rem;
        min-height: 5rem;
        min-width: 5rem;
        background-color: var(--accentLighterOp50);
        border-radius: 200px;
        border: 3px solid var(--offWhite);
        img {
            width: 70%;
        }
    }
    .tbd {
        top: 30vh;
        position: absolute;
    }
    .circle {
        background-color: var(--accentLighter);
        border-radius: 100px;
        margin-top: 5rem;
        p {
            text-align: center;
            margin: 2rem;
            text-decoration: none;
            color: var(--white);
        }
    }
}

/*FOOTER--------------------------------------------------*/
.logoArt {
    width: 108%;
}
footer {
    padding-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem 0 5rem;
    img {
        margin: 0.5rem;
    }
    .footer-mid {
        text-align: center;
        flex-direction: column;
        width: 33vw;
    }
    .footer-right {
        flex-direction: column;
        min-width: 258px;
    }
}
input {
    border-radius: 0px;
    border: 1px solid var(--accent);
    height: 2rem;
    width: 9.7rem;
}
.button {
    background-color: var(--accentLighter);
    color: white;
    border: 1px solid var(--accent);
    text-align: center;
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    transition: 0.2s;
}
.buttonBlue {
    background-color: var(--softBlue);
    color: white;
    border: 1px solid var(--darkBlue);
    border-radius: 100px;
    text-align: center;
    width: 10rem;
    height: 2rem;
    transition: 0.2s;

}
button:hover {
    color: var(--offWhite);
    background-color: var(--accent);
    border: 3px solid var(--accentLighter);
}

/*WORKSHOP------------------------------------------------*/
nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    img {
        width: 100%;
    }
    .navbarBlue {
        margin-top: 0.5rem;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 5px solid var(--softBlue);
        background-color: var(--offWhite);
        border-radius: 100px;
        img{
            width: 64px;
        }
        .nav-sliderBlue {
            position: absolute;
            left: 0.2rem;
            height: 5rem;
            width: 7rem;
            background-color: var(--softBlue);
            border-radius: 200px;
            z-index: 0;
        }
        .nav-anchorBlue {
            border: none;
            text-align: center;
            margin: 1rem 1.5rem 1rem 1.5rem;
            display: inline;
            text-decoration: none;
            color: var(--darkBlue);
            z-index: 1;
            transition: 0.2s;
        }
        .nav-anchorBlue:hover {
            color: var(--softBlue);
        }
    }
    .banner-logoBlue {
        position: absolute;
        flex-direction: column;
        bottom: 10rem;
        left: 15rem;
        color: var(--offWhite);
        height: 25rem;
        width: 25rem;
        background-color: var(--softBlueOp50);
        border-radius: 200px;
        border: 3px solid var(--offWhite);
        img {
            width: 70%;
        }
    }
    .circleBlue {
        background-color: var(--softBlue);
        border-radius: 100px;
        margin-top: 5rem;
        p {
            text-align: center;
            margin: 2rem;
            text-decoration: none;
            color: var(--white);
        }
    }
}