.logo {
    width: 20%;
}
/*SEKTION ONE--------------------------------------------------*/
.h-s1-wrapper {
    margin: 2rem 0 2rem 0;
    .s1-text-wrapper {
        height: 90vh;
    }
    .s1-img {
        width: 50vw;
        img {
            width: 90%;
            border-radius: 2px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        }
    }
}
.s1-text {
    margin-left: 5rem;
    width: min(50vw, 300rem);
    .s1-text-wrapper-circle {
        position: relative;
        display: flex;
        .s1-text2 {
            width: 35vw;
        }
        .s1-circle {
            position: absolute;
            right: -15%;
            text-align: center;
            background-color: var(--accentLighterOp50);
            color: var(--offWhite);
            border-radius: 200px;
            height: min(16rem, 20vw);
            width: min(16rem, 20vw);
        }
    }
    }

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*SEKTION TWO---------------------------------------------------*/
.s2 {
    position: relative;
    padding-top: 2rem;

}
.h-s2-circles {
    position: absolute;
    background-color: var(--accentLighter);
    z-index: 0;
    border-radius: 200px;
}
.h-s2-circle1 {
    top: 0%;
    width: min(20rem, 30vw);
    height: min(20rem, 30vw);
    h2 {
        text-align: center;
        color: var(--offWhite);
    }
}
.h-s2-circle2 {
    left: -10%;
    top: 25%;
    width: min(25rem, 30vw);
    height: min(25rem, 30vw);;
}
.h-s2-circle3 {
    right: -5%;
    top: 15%;
    width: min(23rem, 28vw);
    height: min(23rem, 28vw);
}
.h-s2-circle4 {
    left: 65%;
    top: 95%;
    width: min(15rem, 20vw);
    height: min(15rem, 20vw);
}
.h-s2-circle5 {
    left: 35%;
    top: 80%;
    width: min(10rem, 15vw);
    height: min(10rem, 15vw);
}
.h-s2-circle6 {
    left: 15%;
    top: 110%;
    width: min(16rem, 21vw);
    height: min(16rem, 21vw);
}
.home-products {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin: 10rem 0 10rem 0;
    .arrow-left {
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-right: 32px solid var(--accentLighter);
        border-bottom: 16px solid transparent;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-left: 32px solid var(--accentLighter);
        border-bottom: 16px solid transparent;
    }
    .home-product {
        background-image: url(./assets/SVG/mockup.svg);
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column;
        height: 25rem;
        margin: 1rem;
        text-align: center;
        color: var(--accent);
        .product-text {
            margin: 0.5rem;
            width: 14rem;
        }
        button {
            background-color: var(--accentLighter);
            border-radius: 10px;
            border: none;
        }
    }
}

/*SoMe BANNER-----------------------------------------------------------*/
.SoMe-banner {
    position: relative;
    padding: 2.5rem 0 2.5rem 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--offWhite);
    .SoMe-banner-h1 {
        width: 25rem;
        height: 25rem;
        background-color: var(--accentLighter);
        border-radius: 400px;
        border: 15px white solid;
        color: white;
    }
}
.SoMe-s1 {
    background-color: var(--offWhite);
    img{
        width: 40vw;
        border: 5px var(--accentLighter) solid;
        border-top-left-radius: 800px;
        border-bottom-left-radius: 800px;
        
    }
    p{
        color: var(--offWhite);
        margin: 0 6rem 0 6rem;
    }
    .SoMe-s1-text-wrapper {
        width: 62vw;
        height: 20rem;
        margin-right: -2rem;
        background-color: var(--accentLighter);
    }
}
.SoMe-s2 {
    background-image: url(./assets/SVG/somecta.svg);
    background-size: cover;
    height: 30rem;
    width: 100vw;
    .SoMe-s2-cta {
        width: 25rem;
        height: 25rem;
        text-align: center;
        color: var(--offWhite);
        background-color: var(--accentLighter);
        border-radius: 200px;
        p {
            width: 22rem;
        }
    }
}
.SoMe-circles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--accentLighter);
    top: 0;
    border-radius: 200px;
    width: 20rem;
    z-index: 0;
    height: 20rem;	
    transform: scale(0);
}
.SoMe-circles-h {
    color: var(--accentLightest);
    font-family: quicksand;
    font-size: 1rem;
    text-align: center;
}
.SoMe-s3 {
    overflow: hidden;
}
.SoMe-s3-img-wrapper {
    width: 60%;
}
.SoMe-s3-img {
    img {
        width: 50vw;
        margin-left: 5vw;
    }
}
.SoMe-s3-text {
    width: 40%;
    p {
        color: var(--offWhite);
        margin-right: 25%;
    }
}
.wave-container {  
    height: 100vh;
    background-color: var(--accentLighter);
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 13vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  99' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 72L50 68C100 63 200 55 300 37C400 19 500 -8 600 1C700 10 800 55 900 72C1000 90 1100 81 1150 77L1200 72V99H1150C1100 99 1000 99 900 99C800 99 700 99 600 99C500 99 400 99 300 99C200 99 100 99 50 99H0V72Z' fill='%23f5efe7'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 51.5px
    }  
  }
  .wave-top {
    transform: rotate(180deg);
    height: 15rem;
}
/*WORKSHOP------------------------------------------------*/
.workshop-s1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 10rem 0 20rem 0;
    img {
        position: absolute;
        width: 40%;
        border-radius: 10px;
        z-index: 3;
        right: 2.5rem;
        top: 0%;
    }
}
.workshop-s1-circle {
    position: absolute;
    background-color: var(--softBlue);
    border-radius: 200px;
    width: min(25rem, 25vw);
    height: min(25rem, 25vw);
    h2 {
        color: var(--offWhite);
        letter-spacing: 0.2rem;
        margin-left: 2rem;
    }
}
.s1-circle-1 {
    top: -15vh;
    left: max(-6rem, -6vw);
    z-index: 2;
}
.s1-circle-2 {
    bottom: -10vh;
    right: 33vw;
    z-index: -2;
}
.workshop-s1-text {
    background-color: var(--softBlueOp50);
    height: 80vh;
    width: 100vw;
    z-index: 1;
}
.workshop-s1-text-wrapper {
    width: 40%;
    margin-left: 10%;
}
.workshop-s2 {
    background-image: url("./assets/SVG/workshop-parallax.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 10rem;
}
.workshop-s2-wrapper {
    width: 50%;

}
.workshop-s2-mockup {
    position: relative;
    width: 100%;
    margin: 0 0 5rem 2rem; 

}
.workshop-s2-mockup-price {
    position: absolute;
    text-align: center;
    width: min(10rem, 10vw);
    height: min(10rem, 10vw);
    bottom: -5vh;
    right: -4vw;
    background-color: var(--darkBlue);
    color: var(--accentLightest);
    border-radius: 200px;
    font-size: xx-large;
    transform: rotate(-25deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.workshop-s2-text {
    width: 90%;
    margin: 0 5rem 5rem 5rem;
}

.workshop-s3 {
    position: relative;
    background-image: url("./assets/627A5740-Enhanced-NR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10rem;
    border: 5px var(--darkBlue) solid;
}
.workshop-s3-text {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: -5%;
    right: -25vw;
    height: 110vh;
    width: 60vw;
    border-radius: 500px;
    background-color: var(--darkBlue);
    h2, p {
        margin-left: 10rem;
        text-align: left;
        color: var(--offWhite);
        width: 25vw;
    }
}

/*BLOGS---------------------------------------------------------*/
.blogs-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 40vh;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}
.blog-body {
    position: relative;
    background-color: var(--offWhite);
}
.blog-img-wrapper {
    position: relative;
    z-index: 1;
    width: 15vw;
    height: 15vw;
    border-radius: 500px;
}
.blog-img {
    width: 25vw;
    height: 25vw;
    border-radius: 500px;
    left: -30%;
    top: -25%;
    position:  absolute;
    box-sizing: border-box;
    border: 10px solid var(--accentLightest);
}
.blog-text-wrapper {
    background-color: white;
    border-radius: 500px;
    width: 25vw;
    height: 25vw;
    text-align: center;
}
.blog-text {
    z-index: 0;
    width: 80%;
    p {
        margin-top: -1rem;
    }
}
.blog-post {
    width: 45%;
    margin-bottom: 25vh;
    height: 100vh
}

.blog-search {
    background-color: var(--accentLightest);
    position: absolute;
    margin: 0 0.5rem 0 0.5rem;
    top: 6.5rem;
    max-width: 37%;
    min-width: 37%;
    border: 5px solid var(--accentLighter);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.input-style {
    text-align: center;
    background-color: var(--accentLightest);
    border-radius: 100px;
    margin: 1rem 0.5rem 1rem 0.5rem;
    color: var(--accentLighter);
    background-color: var(--accentLightest);
    box-sizing: border-box;
    border: 2px solid var(--accentLighter);
}
.input-style:active {
    border: 2px solid white;
}
.blog-input {
    width: 11.25%;
}
.blog-input-search {
    width: 22.5%;
}
.blog-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--offWhite);
    top: -8%;
    background-color: var(--newsPaper50Op);
    height: 40rem;
    width: 40rem;
    border-radius: 1000px;
}
.blog-top-left-spinner {
    width: 15vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
}
.blog-top-right-graphic {
    width: 44vw;
    position: absolute;
    top: -35vh;
    right: -20vw;
}
.blog-middle-spinner {
    width: 15vw;
    position: absolute;
    right: 2.5vw;
    top: 75vh;
}
.blog-middle-left-graphic {
    width: 35vw;
    position: absolute;
    left: -20%;
    top: 40%;
}
.blog-middle-line {
    width: 0.5vw;
    position: absolute;
    right: 5vw;
    top: 120vh;
}
.blog-middle-line-bottom {
    width: 0.5vw;
    position: absolute;
    right: 5vw;
    top: 155.5vh;
}
.blog-middle-eclipse {
    width: 5.2vw;
    position: absolute;
    right: 2.6vw;
    top: 136vh;
}
.blog-middle-arrow {
    width: 15vw;
    position: absolute;
    top: 50%;
    right: 42.3%;
}
.blog-bottom-left-spinner {
    width: 15vw;
    position: absolute;
    bottom: 10vh;
    left: 5vw;
}
/*---------------------------------------------------DASHBOARD*/ 

      .dash-logo {
        height: 13vh;
        width: 100vw;
        margin-top: 2vh;
        img {
            width: 128px;
            object-fit: contain;
        }
      }
      .dash-container {
        display: flex;
        background-color: var(--accent);
        width: 60vw;
        height: 75vh;
        margin-left: 20vw;
        border-radius: 20px;
        border: 3px solid white;
      }
      .dash-nav {
        margin: -3px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 10vw;
        height: 50vh;
        background-color: var(--accent);
        border-radius: 20px;
        border: 3px solid white;
      }
      .dash-user {
        width: 128px;
        margin: 2rem;
      }

      .dash-nav-links {
        margin: -3px;
        width: 10vw;
        height: 30vh;
        background-color: var(--accentLighter);
        border-radius: 20px;
        border: 3px solid white;
      }
      .dash-nav-link {
        color: white;
        text-align: center;
        line-height: 2rem;
      }
      .dash-link-top {
        margin-top: 2rem;
      }
      .dash-banner {
        margin: -3px -3px 0 0;
        background-image: url(./assets/627A1927-Enhanced-NR.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 50vw;
        height: 50vh;
        border-radius: 20px;
        border: 3px solid white;
      }

      .dash-course-wrapper {
        margin: -3px;
        width: 60vw;
        height: 25vh;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        border: 3px solid white;
        h3 {
            color: var(--offWhite);
            margin-left: 2rem;
        }
      }

    .dash-earlier {
        margin: -3px;
        background-color: var(--darkBlue);
        width: 35vw;
        height: 25vh;
        border-radius: 20px;
        border: 3px solid white;
    }
    .dash-test {
        margin: -3px 0 -3px 0;
        background-color: var(--red);
        height: 25vh;
        width: 20vw;
        border-radius: 20px;
        border: 3px solid white;
    }
    .dash-workshop {
        margin: -3px;
        background-color: var(--softBlue);
        width: 35vw;
        height: 25vh;
        border-radius: 20px;
        border: 3px solid white;
    }

    /*---------------------------------------------------KURSER*/

    .kurser-logo {
        margin: 2vh 0 2vh 0;
        img {
            width: 128px;
        }
    }

    .kurser-banner-container {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 60vh;
        display: flex;
    }
    .kurser-banner-right {
        width: 50vw;
        background-image: url(./assets/627A5714-Enhanced-NR.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;

    }
    .kurser-banner-center {
        position: absolute;
        text-align: center;
        top: -5vh;
        left: 32vw;
        width: 70vh;
        height: 70vh;
        background-color: var(--accentLighter);
        border-radius: 1000px;
        h2 {
            color: var(--offWhite);
            margin-top: 10vh;
            letter-spacing: 1rem;
            font-weight: 100;
        }

    }
    .kurser-banner-left {
        width: 50vw;
        background-image: url(./assets/627A5708-Enhanced-NR.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        transform: scale(-1, 1);
    }

    /*Background decorations*/
    .kurser-decor {
        position: relative;
        height: 130vh;
        overflow: hidden;
    }

    .kurser-decor-top-cir {
        position: absolute;
        top: -10vh;
        right: 0;
    }

    .kurser-decor-bot-cir {
        position: absolute;
        bottom: 0vh;
        left: 0;
    }

    .kurser-decor-lef-spi {
        position: absolute;
        top: 40vh;
        left: 2.5vw;
    }

    .kurser-decor-rig-spi {
        position: absolute;
        bottom: 22vh;
        right: 2.5vw;
    }

/*-------------------------------------------------------Login/Register*/
.register-background {
    background-image: url(./assets/SVG/gradientWhiteBrown.svg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.register-topCircle {
    position: absolute;
    top: 0;
    right: 0;
}
.register-bottomCircle {
    position: absolute;
    bottom: -1vh;
    left: 0;
}
.register-topElipse {
    position: absolute;
    top: 10vh;
    left: 5vw;
}
.register-bottomElipse {
    position: absolute;
    bottom: 3vh;
    right: 5vw;
}
.login-register-form-container {
    position: relative;
    justify-content: flex-start;
    margin-top: 2rem;
}
.register-logo {
    width: 128px;
}
.login-register-top-label {
    margin-top: 2rem;
}
.login-register-form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: var(--accentLighterOp50);
    width: 350px;
    height: 350px;
    border-radius: 20px;
    label {
        margin-left: 10%;
        line-height: 0%;
    }
    button {
        width: 60%;
        height: 2.5rem;
        margin-top: 1rem;
        border-radius: 20px;
        border: 5px solid var(--accentLighter);
        color: var(--accentLighter);
    }
}

.register-checkmark {
 margin-left: 1rem;
}

.login-register-input {
    margin-left: 10%;
    width: 70%;
    border-radius: 5px;
    border: 3px solid var(--accentLighter);
}